{% extends "base.html" %}

{% block content %}

<h2>Hey</h2>

<section>
    <p>
        I am Hassan and I usually go by the handle <mark class="highlight-handle">@hssn20</mark> or <mark class="highlight-handle">@hssn.io</mark> on the
        web. I'm a statistician who cosplays as a data scientist for living.  
    </p>

    <blockquote>
        <p>,Anything we can actually do we can afford. Once done, it is there. Nothing can take it from us. We are immeasurably richer than our predecessors. </p>
        — <cite>John Maynard Keynes</cite>
    </blockquote>
</section>

{% endblock content %}
