{% extends "base.html" %}

{% block content %}

<h2>Hey</h2>

<section>
    <p>
        I am Hassan and I usually go by the handle <mark class="highlight-handle">@hssn20</mark> on the
        web. I work at <a href="https://www.ons.gov.uk/">ONS</a> where I
        focus mainly on data visualisation, data pipelines and data engineering.
    </p>

    <blockquote>
        <p>Look again at that dot. That's here. That's home. That's us. On it everyone you love, everyone you know, everyone you ever heard of, every human being who ever was, lived out their lives. </p>
        — <cite>Carl Sagan</cite>
    </blockquote>
</section>

{% endblock content %}