{% extends "base.html" %}

{% block content %}

<h2>Hi</h2>

<section>
    <p>
        I'm Hassan.I build recommender systems for the energy sector and usually go by the handle <mark class="highlight-handle">@hssn20</mark> or <mark class="highlight-handle">@hssn.io</mark> on the
        web. In my free time, I love to read (mostly on economics, evolution and cosmology)  and workout, sometimes both! Hopefully over the next few months I plan to get back into writing, so come along.
    </p>

    <blockquote>
        <p>Anything we can actually do we can afford. Once done, it is there. Nothing can take it from us. We are immeasurably richer than our predecessors. </p>
        — <cite>John Maynard Keynes</cite>
    </blockquote>
</section>

{% endblock content %}
